*{margin:0;padding:0;}
*{box-sizing:border-box;}
.window{
  width:600px;
  height:400px;
  margin:20px auto;
  overflow:hidden;
}
.images{
  display:flex;
  transition:all 0.5s;
}

.images > img{
  width: 100%;
  top:0;
}

div > button{
  padding:2px 5px;
  margin:2px 5px;
}
